:root {
	--main-bg-color: white;

	--sidebar-bg-color: rgb(41, 42, 43);
	--sidebar-button-bg-color-hover: white;
	--sidebar-button-text-color: white;
	--sidebar-button-text-color-hover: black;
}

body {
	margin: 0px;
	height: 100%;
	background-color: var(--main-bg-color);
}

.sidebar {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	max-width: 10%;
	background-color: var(--sidebar-bg-color);
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none;		/* Safari */
	-khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Old versions of Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none;
}

/* Sidebar link */
.sidebar a {
	width: 90%;
	padding: 8px 0 8px 10%;
	font-size: 2em;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	color: var(--sidebar-button-text-color);
	float: left;
	overflow: hidden;
}
.sidebar a:hover {
	background-color: var(--sidebar-button-bg-color-hover);
	color: var(--sidebar-button-text-color-hover);
}

.main {
	position: absolute;
	min-height: 100%;
	right: 0px;
	top: 0px;
	width: 85%;
	margin: 0 2.5%;
}

.main h1 {
	text-transform: capitalize;
}

.main p {
	font-size: 1.5em;
}
