:root {
	--main-bg-color: white;
	--main-text-color: black;

	--sidebar-bg-color: rgb(41, 42, 43);
	--sidebar-button-bg-color-hover: white;
	--sidebar-button-text-color: white;
	--sidebar-button-text-color-hover: black;
	--sidebar-button-hover-animation: 0.5s;

	--outline-link-text-color-hover: white;
	--outline-link-bg-color-hover: black;
}

body {
	margin: 0px;
	height: 100%;
	background-color: var(--main-bg-color);
	display: flex;
}

.sidebar {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	height: auto;
	width: 12.5%;
	background-color: var(--sidebar-bg-color);
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none;		/* Safari */
	-khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Old versions of Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none;
	display: block;
	margin-right: 2.5%;
}

/* Sidebar link */
.sidebar a {
	width: 90%;
	padding: 8px 0 8px 10%;
	font-size: 2em;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	color: var(--sidebar-button-text-color);
	display: flex;
	overflow: hidden;
	z-index: 1;
	transition: color var(--sidebar-button-hover-animation) ease-in-out;
}
.sidebar a:hover {
	color: var(--sidebar-button-text-color-hover);
	transition: color var(--sidebar-button-hover-animation) ease-in-out;
}
.sidebar a::before {
	content: "";
	height: 1em;
	width: 0%;
	background-color: transparent;
	z-index: -1;
	position: absolute;
	padding: 16px 0 8px 10%;
	left: 0;
	transform: translateY(-8px);
	overflow: hidden;
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
}
.sidebar a:hover::before {
	background-color: var(--sidebar-button-bg-color-hover);
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
	width: 100%;
}

.main {
	position: relative;
	min-height: 100%;
	width: max-content;
	max-width: 82.5%;
	margin-right: 2.5%;
	color: var(--main-text-color);
}

.main h1 {
	text-transform: capitalize;
}

.main p {
	font-size: 1.5em;
	margin: 16px;
}

/* Inline link */
.main * a {
	color: var(--main-text-color);
	font-size: 1em;
	font-weight: bold;
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
	text-decoration: none;
}
.main * a:hover {
	background-color: var(--outline-link-bg-color-hover);
	color: var(--outline-link-text-color-hover);
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
}

.outline-link {
	display: block;
	color: var(--main-text-color);
	text-decoration: none;
	text-transform: capitalize;
	font-size: 2em;
	font-weight: bold;
	width: max-content;
	margin: 8px;
	padding: 0 8px;
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
}
.outline-link:hover {
	background-color: var(--outline-link-bg-color-hover);
	color: var(--outline-link-text-color-hover);
	transition: all var(--sidebar-button-hover-animation) ease-in-out;
}
