:root {
	/* Timings */
	--time-button-fade: 0.25s;
	--time-fade: 1s;
	/* Sizes */
	--size-round-large: 32px;
	--size-round-medium: 16px;
	--size-round-small: 8px;
	--size-icon-image: 64px;
	--size-font-large: 3em;
	--size-font-medium: 2em;
	--size-font-small: 1em;
	/* Colors */
	--color-body-background: rgb(27, 27, 27);
	--color-main-background: rgb(34, 35, 36);
	--color-main-accent: rgb(182, 183, 184);
	--color-navbar-background: rgb(36, 36, 36);
	--color-navbar-button-text: rgb(255, 255, 255);
	--color-navbar-button-hover-background: rgb(46, 46, 46);
	--color-main-text: rgb(255, 255, 255);
}

/* Animations */
@keyframes fade_in {
	from {opacity: 0;}
	to {opacity: 1;}
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: var(--color-body-background);
	min-height: 100vh;
}

/* Navbar */
.navbar {
	display: flex;
	flex-direction: row;
	background-color: var(--color-navbar-background);
}

.navbar_links {
	display: flex;
}

.navbar_links > a {
	max-width: max-content;
	margin: 4px;
	padding: 8px 16px;
	flex: 1 1 auto;
	text-align: center;
	color: var(--color-navbar-button-text);
	text-decoration: none;
	border-radius: var(--size-round-small);
	transition: all var(--time-button-fade);
}
.navbar_links > a:hover {
	background-color: var(--color-navbar-button-hover-background);
}

/* Main Content */
.main {
	padding: 0 32px;
	align-self: center;
	flex: 1 1 auto;
	width: 66%;
	color: var(--color-main-text);
	background-color: var(--color-main-background);
	border-radius: 0 0 var(--size-round-medium) var(--size-round-medium);
	display: flex;
	flex-direction: column;
}

.main > header {
	display: flex;
	justify-content: center;
}
.main > header h1 {
	font-size: var(--size-font-medium);
}

/* Icon Link */
.icon_link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon_link > img {
	width: var(--size-icon-image);
	height: var(--size-icon-image);
	border-radius: var(--size-round-small);
	animation: fade_in var(--time-fade);
}

.icon_link > a {
	font-size: var(--size-font-medium);
	font-weight: bold;
	text-decoration: none;
	color: var(--color-main-text);
	padding-left: 16px;
}
